<h2 class="fw-bold mb-4">Your Orders</h2>
<div *ngIf="loading" class="text-center my-4">Loading orders...</div>
<div *ngIf="error" class="alert alert-danger text-center">{{ error }}</div>
<div *ngIf="!loading && !error && orders.length === 0" class="text-center my-4">No orders found.</div>

<div *ngFor="let order of orders" class="card mb-3 shadow-sm">
  <div class="card-body">
    <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between">
      <div class="mb-2 mb-md-0 flex-grow-1">
        <div class="fw-semibold">
          {{ getItemNames(order) }}
        </div>
      </div>
      <div class="d-flex align-items-center gap-2">
        <span 
          class="badge px-3 py-2 fs-6"
          [ngClass]="{
            'bg-warning text-dark': order.status === 'Preparing',
            'bg-info text-white': order.status === 'On the way',
            'bg-success': order.status === 'Delivered',
            'bg-danger': order.status === 'Cancelled'
          }"
        >
          {{ order.status }}
        </span>
        <button 
            class="btn btn-danger ms-2"
            [disabled]="order.status === 'Delivered' || order.status === 'Cancelled'"
            (click)="cancelOrder(order.id)"
          >
            Cancel
          </button>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mt-2 text-muted small">
      <span>{{ order.order_date | date:'d MMM yyyy' }}</span>
      <span class="fw-semibold fs-6 text-dark">₹{{ order.total_amount }}</span>
    </div>
  </div>
</div>